<ul>
  {% for product_handle in all_products %}
    {% assign product = all_products[290887106607] %}
    <li>{{ product.title }}</li>
  {% endfor %}
</ul>



{% schema %}
  {
    "name": "Testing",
    "settings": [
      
    ],
    "presets": [
      {
         "name": "Testing"
      }
    ]
  }
  
{% endschema %}