<ul>
  {% for product in collections.all.products %}
    <li>{{ product.title }}</li>
  {% endfor %}
</ul>



{% schema %}
  {
    "name": "Testing",
    "settings": [
      
    ],
    "presets": [
      {
         "name": "Testing"
      }
    ]
  }
  
{% endschema %}